:root {
  --btn-hover-color: #c8331f2c;
}

/* Abilities */
.dndsync-beyond-ability-btn {
  width: 60px;
  height: 34px;
  position: relative;
  transition: all 0.2s ease-in-out;
  background: transparent;
  border-radius: 10px;
  border-width: 1px;
}
.dndsync-beyond-ability-btn:hover {
  background: var(--btn-hover-color);
  font-weight: bold;
}

/* Saving throws */
.dndsync-beyond-saving-throw-btn {
  width: 42px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: #394b59;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.dndsync-beyond-saving-throw-btn:hover {
  background: transparent;
  font-weight: bold;
}

.dndsync-beyond-saving-throw-svg {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 70px;
  top: 0;
  fill: transparent !important;
  z-index: -1;
  display: block !important;
  transition: all 0.2s ease-in-out;
}
.dndsync-beyond-saving-throw-btn:hover ~ .dndsync-beyond-saving-throw-svg {
  fill: var(--btn-hover-color) !important;
  font-weight: bold;
}

.dndsync-beyond-saving-throw-container {
  z-index: 1;
}

/* Skills */

.dndsync-beyond-skill-btn {
  border-radius: 10px;
  border-width: 1px;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.dndsync-beyond-skill-btn:hover {
  background: var(--btn-hover-color);
  font-weight: bold;
}

/* Initiative */

.dndsync-beyond-initiative-btn {
  width: 55px;
  border-radius: 10px;
  border-width: 1px;
  background: transparent;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.dndsync-beyond-initiative-btn:hover {
  background: var(--btn-hover-color);
  font-weight: bold;
}

/* HP management */

.dndsync-beyond-hp-btn {
  border-radius: 10px !important;
  border-width: 1px !important;
  background: transparent !important;
  transition: all 0.2s ease-in-out !important;
}
.dndsync-beyond-hp-btn:hover {
  background: var(--btn-hover-color) !important;
  font-weight: bold;
}
